[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
build = "*"
requests = "*"
matplotlib= "*"
numpy = "*"
pyweath = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3"
